.our-advantages {
    @include flex();
    &__item {
        @include flex(column, center);
        &-name {
            font-size: 1.8rem;
            color: $dark;
            text-align: center;
            margin-top: 15px;
        }
    }
}

@media screen and (max-width: 1199px) {
    .catalog-template {
        &__sidebar {
            position: relative;
            @include flex();
        }
        &__help-box {
            margin-top: 30px
        }
        &__text {
            margin-top: 30px
        }
    }
    .catalog-sidebar {
        &__button {
            @include flex(row, center);
            width: 50%;
            flex: 1 1 auto;
            margin-right: 15px;
            padding: 0 25px;
            height: 70px;
            line-height: 70px;
            border: 1px solid transparent;
            &_active {
                &.catalog-sidebar {
                    &__button {
                        &-catalog {
                            & svg {
                                transform: rotate(90deg);
                            }
                        }
                        &-filter {
                            & svg {
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }
            & svg {
                flex-shrink: 0;
                margin-left: 10px;
                pointer-events: none;
                transition: transform .25s ease;
            }
            &-catalog {
                color: $white;
                background: $primary;
                font-size: 2.4rem;
                font-weight: 600;
                
            }
            &-filter {
                margin-right: 0;
                justify-content: center;
                background: $light-100;
                border-color: $light;
                font-size: 2rem;
            }
        }
        &__item {
            position: absolute;
            top: 70px;
            left: 0;
            width: calc((100% - 15px)/2);
            flex: 1 1 auto;
            margin-right: 15px;
            opacity: 0;
            pointer-events: none;
            transform: translateY(3px);
            transition: opacity .25s ease, transform .25s ease;
            z-index: 10;
            &:last-child {
                margin-right: 0;
                left: auto;
                right: 0;
            }
            &_open {
                opacity: 1;
                pointer-events: auto;
                transform: translateY(0);
            }
        }
        &__filter {
            margin-top: 0;
        }
    }
    .catalog-products-list {
        &__sort {
            width: 100%;
            margin-left: 0;
        }
        &__header {
            padding: 0;
            margin-top: 15px;
        }
        &__box {
            margin-top: 30px;
            &-col {
                margin-bottom: 15px;
            }
        }
    }
    .catalog-sort {
        &__select {
            width: 100%;
            height: 55px;
            line-height: 55px;
        }
    }
    .catalog-product {
        &__footer {
            position: relative;
            opacity: 1;
            pointer-events: auto;
            box-shadow: none;
        }
        &__vendor-code {
            display: none;
        }
        &__size {
            display: none;
        }
        &__form {
            margin-top: 0;
            &-quantity {
                display: none;
            }
            &-button {
                margin: 0;
            }
        }
        &__carousel {
            &-button {
                display: none;
            }
        }
        &__img {
            width: 100%;
        }
        &__price {
            position: relative;
            &-old {
                position: absolute;
                bottom: 100%;
                left: 0;
            }
        }
        &__title {
            font-size: 2rem;
            margin-bottom: 30px;
        }
    }
    .catalog-pagination {
        &__nav {
            font-size: 1.6rem;
        }
        &__number {
            width: 25px;
            font-size: 1.6rem;
        }
    }
    .help-box {
        padding: 35px 0;
        &__title {
            font-size: 2.8rem;
            max-width: 400px;
        }
        &__button {
            margin-top: 20px;
        }
        &__img {
            max-width: 320px;
        }
    }
    .catalog-navigation {
        &__link {
            font-size: 1.8rem;
        }
    }
    .b-section {
        &__carousel {
            overflow: hidden;
        }
    }
    .product-template {
        &__section {
            margin-top: 80px;
        }
        &__header {
            position: relative;
            flex-direction: column;
            margin-bottom: 25px;
            &-title {
                padding-bottom: 25px;
            }
        }
        &__rating {
            top: auto;
            margin-left: 0;
        }
        &__form {
            margin-top: 0;
            &-colors {
                margin-top: 0;
            }
            &-col {
                margin-top: 30px;
            }
            &-options {
                @include flex(row, center, flex-start, wrap);
                padding: 25px 30px;
            }
            &-buttons {
                margin-left: auto;
            }
        }
        &__vendor-code {
            margin-left: auto;
            margin-top: 0;
            & + .product-template {
                &__rating {
                    position: absolute;
                    top: auto;
                    bottom: 0;
                    left: 0;
                }
            }
        }
        &__price {
            width: 100%;
            @include flex(row, baseline);
            &-old {
                margin-right: 15px;
            }
        }
        &__question {
            margin-top: 0;
        }
        &__tabs {
            margin-top: 40px;
        }
    }
    .product-gallery {
        &__thumbs {
            &-slide {
                max-width: 165px;
            }
        }
        &__img {
            margin: 0 auto;
        }
    }
    .product-colors {
        &__title {
            font-size: 1.8rem;
        }
        &__wrapper {
            margin-top: 25px;
        }
        &__radio {
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .radio-color {
        &__box {
            width: 50px;
            height: 50px;
        }
    }
    .product-info-tabs {
        &__box {
            @include flex(column);
            &-button {
                position: relative;
                display: inline-block;
                font-size: 1.8rem;
                font-weight: 500;
                color: $dark;
                margin-bottom: 30px;
                padding-right: 30px;
                &::after {
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    background: icon('arrow-right.svg') no-repeat 50% / 24px auto;
                    top: 50%;
                    margin-top: -12.5px;
                    right: 0;
                    transition: transform .25s ease;
                }
                &_active {
                    margin-bottom: 0;
                    &::after {
                        transform: rotate(90deg);
                    }
                }
            }
        }
        &__content {
            width: 100%;
            padding-top: 20px;
            &_open {
                margin-bottom: 35px;
            }
            & table {
                & tr {
                    & td {
                        &:last-child {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
    .product-question {
        flex-direction: column;
        align-items: flex-start;
        &__button {
            margin: 0;
            margin-top: 30px;
        }
    }
    .b-section {
        &__button {
            display: none;
        }
    }
    .breadcrumbs {
        &__item {
            font-size: 1.8rem;
            font-weight: 500;
        }
        &__link {
            font-size: 1.8rem;
            font-weight: 500;
        }
        &__item {
            &:first-child {
                & .breadcrumbs {
                    &__link {
                        display: block;
                        font-size: 0;
                        width: 25px;
                        height: 25px;
                        background: icon('home.svg') no-repeat 50% / 24px auto;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .button {
        height: 55px;
        line-height: 55px;
    }
    .catalog-template {
        &__title {
            margin-bottom: 20px;
        }
        &__sidebar {
            flex-direction: column;
            align-items: stretch;
        }
    }
    .catalog-sidebar {
        &__button {
            width: 100%;
            margin: 0;
            justify-content: flex-start;
            &-filter {
                margin-top: 15px;
            }
        }
        &__item {
            width: 100%;
            margin: 0;
        }
        &__filter {
            top: calc(140px + 15px);
        }
    }
    .catalog-products-list {
        &__box {
            margin-top: 10px;
        }
    }
    .catalog-product {
        &__title {
            margin-top: 20px;
        }
        &__img {
            margin: 0 auto;
        }
    }
    .help-box {
        position: relative;
        padding-top: 260px;
        &__title {
            font-size: 2.4rem;
        }
        &__button {
            width: 100%;
        }
        &__img {
            top: 30px;
            left: 0;
            width: 100%;
            max-width: auto;
            transform: none;
            max-height: 230px;
        }
    }
    .filter-form {
        &__section {
            margin-bottom: 25px;
            &-box {
                display: none;
                margin-top: 15px;
                &_open {
                    display: block;
                }
            }
            &-title {
                position: relative;
                display: inline-block;
                margin: 0;
                padding-right: 30px;
                cursor: pointer;
                &::after {
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    background: icon('arrow-right.svg') no-repeat 50% / 24px auto;
                    top: 50%;
                    margin-top: -12.5px;
                    right: 0;
                    transition: transform .25s ease;
                }
                &_active {
                    &::after {
                        transform: rotate(90deg);
                    }
                }
            }
        }
        &__button {
            &-reset {
                font-size: 1.4rem;
            }
        }
    }
    .b-section {
        &__title {
            font-size: 2.4rem;
        }
        &__header {
            margin-bottom: 30px;
        }
    }
    .product-template {
        &__header {
            margin-bottom: 15px;
            &-title {
                font-size: 2.6rem;
                font-weight: 600;
                padding-bottom: 15px;
            }
        }
        &__price {
            flex-direction: column;
            align-items: flex-end;
            width: auto;
            font-size: 3rem;
            &-old {
                font-size: 1.8rem;
            }
        }
        &__vendor-code {
            margin-top: 0;
        }
        &__form {
            &-col {
                margin-top: 20px;
            }
            &-buttons {
                flex-direction: column-reverse;
                width: 100%;
            }
            &-button {
                width: 100%;
                margin: 0;
                height: 55px;
                &-modal {
                    margin-top: 20px;
                }
            }
            &-quantity {
                margin: 0;
                margin-left: auto;
            }
        }
        &__section {
            margin-top: 65px;
        }
        &__breadcrumbs {
            margin-bottom: 10px;
        }
    }
    .product-colors {
        &__title {
            font-size: 2.4rem;
        }
        &__wrapper {
            margin-top: 10px;
            flex-wrap: wrap;
        }
        &__radio {
            margin: 5px 0;
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .radio-color {
        &__box {
            width: 25px;
            height: 25px;
        }
    }
    .product-question {
        padding: 25px;
        &__title {
            font-size: 2.4rem;
            max-width: 300px;
        }
        &__button {
            width: 100%;
        }
    }
    .product-reviews {
        &__item {
            padding: 30px 0;
            padding-left: 70px;
            &:first-child {
                padding-top: 0;
            }
            &-rating {
                flex-direction: column;
                align-items: flex-start;
                &-value {
                    margin: 0;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &__footer {
            flex-direction: column-reverse;
            margin-top: 20px;
        }
        &__button {
            width: 100%;
            margin-top: 20px;
        }
    }
    .form {
        &__row {
            &_horizontal {
                flex-direction: column;
                align-items: flex-start;
                & .form {
                    &__input {
                        margin: 0;
                        margin-bottom: 15px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        &__rating {
            flex-direction: column;
            align-items: flex-start;
            &-item {
                margin: 0;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .fast-buy-modal {
        &__product {
            flex-direction: column;
            &-img {
                width: 100%;
                margin-bottom: 25px;
                & img {
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
            &-info {
                padding-left: 0;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .modal {
        width: 100%;
        max-width: 100%;
        padding: 25px 15px;
        &__form {
            &-button {
                width: 100%;
            }
        }
    }
}