.our-advantages {
    @include flex();
    &__item {
        @include flex(column, center);
        &-name {
            font-size: 1.8rem;
            color: $dark;
            text-align: center;
            margin-top: 15px;
        }
    }
}