// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}