.b-dropdown {
    border: 1px solid $light;
    border-left: transparent;
    background: $white;
    opacity: 0;
    transform: translateX(5px);
    transition: opacity .25s ease, transform .25s ease;
    box-shadow: inset 8px 0px 13px 0 rgba($dark, .04);
    pointer-events: none;
    &__link {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 16px 20px;
        font-size: 1.5rem;
        line-height: 1.2;
        color: $dark;
        text-decoration: none;
        &-icon {
            flex-shrink: 0;
            margin-right: 5px;
        }
        &:hover {
            background: $primary;
            color: $white;
            & .b-dropdown {
                &__link {
                    &-icon {
                        & path {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .b-dropdown {
        transform: none;
        border: none;
        background: $light-100;
        box-shadow: inset 0 0 5px 0 rgba($dark, .1);
        opacity: 1;
        pointer-events: auto;
        display: none;
        &_open {
            display: block;
        }
    }
}