.catalog-navigation {
    border: 1px solid $light;
    &__link {
        display: block;
        text-decoration: none;
        padding: 20px 30px;
        color: $dark;
        font-size: 1.5rem;
        line-height: 1.2;
        &_active {
            background: $primary;
            font-weight: 600;
            color: $white;
        }
        &:hover {
            background: $primary;
            color: $white;
        }
    }
}