.catalog-product {
    position: relative;
    @include flex(column, stretch);
    background: $white;
    border: 1px solid $light;
    z-index: 1;
    &__box {
        position: relative;
        padding: 20px;
        padding-bottom: 15px;
        z-index: 2;
    }
    &__carousel {
        position: relative;
        &-pagination {
            bottom: 15px;
            left: 0;
            & .swiper-pagination-bullet {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                opacity: 1;
                background: $black-500;
                margin: 0 5px;
                &-active {
                    background: $white;
                }
            }
        }
        &-button {
            position: absolute;
            top: 50%;
            margin-top: -12.5px;
            left: 0;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $white;
            box-shadow: 0 0 5px 0 rgba($dark, .05);
            z-index: 1;
            &-prev {
                left: -12.5px;
            }
            &-next {
                left: auto;
                right: -12.5px;
            }
            & svg {
                pointer-events: none;
            }
            &.swiper-button-disabled {
                & svg {
                    & path {
                        fill: $light;
                    }
                }
            }
        }
    }
    &__img {
        border-radius: 5px;
    }
    &__title {
        display: block;
        margin: 0;
        font-size: 1.8rem;
        line-height: 1.25;
        text-decoration: none;
        font-weight: 500;
        margin-top: 15px;
        color: $dark;
    }
    &__options {
        @include flex(row, flex-end);
        margin-top: 15px;
    }
    &__price {
        margin: 0;
        font-size: 2rem;
        font-weight: bold;
        color: $dark;
        line-height: 1.25;
        flex-shrink: 0;
        &-old {
            display: block;
            font-size: 1.4rem;
            font-weight: normal;
            text-decoration: line-through;
        }
    }
    &__vendor-code {
        display: block;
        font-size: 1.2rem;
        color: $black-100;
        line-height: 1.25;
    }
    &__size {
        display: block;
        font-size: 1.2rem;
        margin-top: 8px;
        line-height: 1.25;
    }
    &__rating {
        margin-left: auto;
        position: relative;
        top: -3px;
    }
    &__footer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        background: $white;
        padding: 20px;
        padding-top: 0;
        box-shadow: 0 0 12px 0 rgba($dark, .07);
        transition: opacity .25s ease;
        z-index: 1;
        pointer-events: none;
    }
    &__form {
        margin-top: 20px;
        @include flex(row, center);
        &-button {
            flex: 1 1 auto;
            margin-left: 15px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .catalog-product {
        &:hover {
            border-color: $white;
            z-index: 2;
            & .catalog-product {
                &__footer {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
    }
}