.catalog-navigation {
    border: 1px solid $light;
    background: $white;
    &__link {
        @include flex(row, center);
        position: relative;
        text-decoration: none;
        padding: 16px 30px;
        padding-right: 45px;
        color: $dark;
        font-size: 1.5rem;
        line-height: 1.2;
        &_active {
            background: $primary;
            font-weight: 600;
            color: $white;
            & .catalog-navigation {
                &__link {
                    &-icon {
                        & path {
                            fill: $white;
                        }
                        
                    }
                    &-button {
                        transform: none;
                        &-icon {
                            transform: rotate(90deg);
                            & path {
                                fill: $white;
                            }
                        }
                    }
                }
            }
        }
        &-button {
            @include flex(row, center, center);
            width: 30px;
            height: 30px;
            position: absolute;
            top: 50%;
            margin-top: -15px;
            right: 15px;
            &-icon {
                pointer-events: none;
            }
        }
        &-icon {
            flex-shrink: 0;
            margin-right: 5px;
        }
    }
    &__item {
        position: relative;
    }
    &__dropdown {
        position: absolute;
        top: -1px;
        left: calc(100% + 1px);
        min-width: 250px;
        z-index: 5;
    }
}

@media screen and (min-width: 768px) {
    .catalog-navigation {
        &__item {
            &:hover {
                & .catalog-navigation {
                    &__link {
                        background: $primary;
                        color: $white;
                        &-icon {
                            & path {
                                fill: $white;
                            }
                        }
                        &-button {
                            transform: none;
                            &-icon {
                                & path {
                                    fill: $white;
                                }
                            }
                        }
                    }
                    &__dropdown {
                        opacity: 1;
                        transform: none;
                        pointer-events: auto;
                    }
                }
            }
        }
        &__link {
            &-button {
                pointer-events: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .catalog-navigation {
        &__dropdown {
            position: relative;
            left: auto;
            top: auto;
            min-width: none;
            width: 100%;
        }
    }
}