.catalog-sort {
    @include flex(row, center);
    &__link {
        @include flex(row, center, center);
        text-decoration: none;
        margin-right: 20px;
        border: 1px solid $light;
        height: 40px;
        width: 150px;
        font-size: 1.4rem;
        font-weight: 500;
        color: $black-300;
        &:last-child {
            margin-right: 0;
        }
        &-icon {
            width: 16px;
            height: 16px;
            flex-shrink: 0;
            margin-right: 5px;
        }
        &:hover {
            background: $primary;
            color: $white;
            border-color: $primary;
            & svg {
                & path {
                    fill: $white;
                }
            }
        }
    }
}