.product-colors {
    &__title {
        font-size: 1.4rem;
        font-weight: 700;
        color: $dark;
    }
    &__wrapper {
        @include flex();
        margin-top: 15px;
    }
    &__radio {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}