.b-section {
    &__carousel {
        overflow: visible;
        z-index: 5;
        &-item {
            height: auto;
        }
        &-product {
            height: 100%;
            & .catalog-product {
                &__footer {
                    opacity: 1;
                    position: relative;
                    box-shadow: none;
                    pointer-events: auto;
                }
            }
        }
        & .swiper-wrapper {
            align-items: stretch;
        }
    }
    &__title {
        margin: 0;
        font-size: 3rem;
        font-weight: 500;
        color: $dark;
    }
    &__header {
        margin-bottom: 25px;
    }
    &__box {
        position: relative;
    }
    &__button {
        position: absolute;
        top: 50%;
        margin-top: -15px;
        width: 30px;
        height: 30px;
        background: $white;
        border-radius: 50%;
        box-shadow: 0 0 5px 0 rgba($dark, .1);
        &.swiper-button-disabled {
            & svg {
                & path {
                    fill: $light;
                }
            }
        }
        &-prev {
            right: calc(100% + 20px);
        }
        &-next {
            left: calc(100% + 20px);
        }
    }
    &__pagination {
        position: absolute;
        bottom: auto;
        top: calc(100% + 30px);
        & .swiper-pagination-bullet {
            &-active {
                background: $light-300;
            }
        }
    }
}