.catalog-products-list {
    &__sort {
        margin-left: auto;
    }
    &__header {
        @include flex(row, center);
        padding: 15px 0;
        &-title {
            margin: 0;
            font-size: 3rem;
            color: $dark;
            font-weight: 500;
        }
    }
    &__box {
        margin-top: 15px;
        &-col {
            margin-bottom: 20px;
        }
    }
}