// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'Montserrat', sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$black: #5a5a5a;
$black-300: #7f7f7f;
$black-500: #3F3F3F;
$black-100: #B0B0B0;
$dark: #000;
$primary: #6DBFDE;
$light: #DADADA;
$light-100: #F2F2F2;
$light-200: #ECECEC;
$light-300: #D5D5D5;
$stars: #ffd055;
$label: (
    'default': #FF9900,
    'sale': #E70202,
    'popular': #980000
);
